/node_modules
frontend/node_modules/
/vendor
.env
.env.*
!.env.example
/storage
/public/storage
Homestead.json
Homestead.yaml
*.log
.DS_Store
/.idea
/.vscode
*.sqlite
/data*.log
backend/infrastructure/data/
frontend/dist/
__pycache__/
*.pyc
*.gif