/node_modules
/vendor
.env
.env.*
!.env.example
/storage
/public/storage
Homestead.json
Homestead.yaml
*.log
.DS_Store
/.idea
/.vscode
*.sqlite
/data*.log
data/redis/
data/postgres/
data/chroma/
data/neo4j/
data/neo4j/
data/redis/
data/postgres/
data/chroma/
frontend/dist/
